
@{
    ViewBag.Title = "Clambing";
    Layout = "~/Views/Shared/_Layout_Semantic.cshtml";
}

<h2>Clambing</h2>

<fieldset style="padding-bottom:4%;padding-bottom:4%">
    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h2>Now you can see the Four most popular clambing places.</h2>
                    @*<p>You can also click to see more information.</p>*@
                </div>
            </div>
        </div>
    </div>

    <div class="ui grid container" style="padding-top:3%">
        <div class="ui special cards">
            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui inverted button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src=@Url.Content("~/Content/Images/clambing1.jpg")>
                </div>
                <div class="content">
                    <a class="header">Werribee Gorge Circuit Track Pentland Hills VIC 3341</a>
                    @*<div class="meta">
                            <span class="date">Created in Sep 2014</span>
                        </div>*@
                </div>
            </div>

            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui primary button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src=@Url.Content("~/Content/Images/clambing2.jpg")>
                </div>
                <div class="content">
                    <a class="header">Mount Buffalo National Park</a>
                    @*<div class="meta">
                            <span class="date">Created in Aug 2014</span>
                        </div>*@
                </div>
            </div>

            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui primary button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src=@Url.Content("~/Content/Images/clambing3.jpg")>
                </div>
                <div class="content">
                    <a class="header">Grampians National Park</a>
                    @*<div class="meta">
                            <span class="date">Created in Aug 2014</span>
                        </div>*@
                </div>
            </div>

            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui primary button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src=@Url.Content("~/Content/Images/clambing4.jpg")>
                </div>
                <div class="content">
                    <a class="header">Mount Arapiles  VIC 3409</a>
                    @*<div class="meta">
                            <span class="date">Created in Aug 2014</span>
                        </div>*@
                </div>
            </div>

          
        </div>
    </div>
</fieldset>

