
@{
    ViewBag.Title = "Clambing";
    Layout = "~/Views/Shared/_Layout_Semantic.cshtml";
}

<h2>Clambing</h2>

<fieldset style="padding-bottom:4%;padding-bottom:4%">
    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h2>The four most popular clambing places.</h2>
                    @*<p>You can also click to see more information.</p>*@
                </div>
            </div>
        </div>
    </div>

    <div class="ui grid container" style="padding-top:3%">
        <div class="ui special cards">
            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui inverted button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src=@Url.Content("~/Content/Images/clambing1.jpg")>
                </div>
                <div class="content">
                    <a class="header" href="https://maps.google.com/?q=Werribee Gorge Circuit Track Pentland Hills VIC 3341" target="_blank">Werribee Gorge Circuit Track Pentland Hills VIC 3341</a>
                    @*<div class="meta">
                            <span class="date">Created in Sep 2014</span>
                        </div>*@
                    <p>
                        Werribee Gorge retains a wild, rugged natural beauty. The park offers spectacular views and great opportunities for bushwalking and rock climbing.There are a variety of walks in the park. A popular walk follows the Werribee River from Meikles Point picnic area, offering impressive view of both the river and the cliff faces of the gorge.
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui primary button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src=@Url.Content("~/Content/Images/clambing2.jpg")>
                </div>
                <div class="content">
                    <a class="header" href="https://maps.google.com/?q=Mount Buffalo National Park" target="_blank">Mount Buffalo National Park</a>
                    @*<div class="meta">
                            <span class="date">Created in Aug 2014</span>
                        </div>*@
                    <p>Mount Buffalo National Park has sheer cliffs, imposing granite tors, tumbling waterfalls, snow gums and stunning wildflowers. The park features over 90km of walking tracks, panoramic scenery, waterfalls and scope for adventurous pursuits such as rock climbing and hang-gliding.</p>
                </div>
            </div>

            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui primary button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src=@Url.Content("~/Content/Images/clambing3.jpg")>
                </div>
                <div class="content">
                    <a class="header" href="https://maps.google.com/?q=Grampians National Park" target="_blank">Grampians National Park</a>
                    @*<div class="meta">
                            <span class="date">Created in Aug 2014</span>
                        </div>*@
                    <p>Rising abruptly from the surrounding Western Plains, the Grampians (Gariwerd) is a series of rugged sandstone mountain ranges and forests rich in wildlife. One of Victoria’s most popular holiday destinations, the park is a great venue for camping, climbing, scenic drives, bushwalks and nature study.</p>
                </div>
            </div>

            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui primary button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src=@Url.Content("~/Content/Images/clambing4.jpg")>
                </div>
                <div class="content">
                    <a class="header" href="https://maps.google.com/?q=Mount Arapiles  VIC 3409" target="_blank">Mount Arapiles VIC 3409</a>
                    @*<div class="meta">
                            <span class="date">Created in Aug 2014</span>
                        </div>*@
                    <p>Mount Arapiles is a rock formation that rises about 140 metres above the Wimmera plains in western Victoria, Australia. It is located in Arapiles approximately 10 kilometres west of the town of Natimuk and is part of the Mount Arapiles-Tooan State Park.</p>
                </div>
            </div>

          
        </div>
    </div>
</fieldset>

