
@{
    ViewBag.Title = "Fishing";
    Layout = "~/Views/Shared/_Layout_Semantic.cshtml";
}

<h2>Fishing</h2>


<fieldset style="padding-bottom:4%;padding-bottom:4%">
    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h2>The five most popular fishes.</h2>
                    @*<p>You can also click to see more information.</p>*@
                </div>
            </div>
        </div>
    </div>

    <div class="ui grid container" style="padding-top:3%">
        <div class="ui special cards">
            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui inverted button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src=@Url.Content("~/Content/Images/fish1.jpg")>
                </div>
                <div class="content">
                    <a class="header" href="https://www.google.com/search?q=black+bream&oq=Black+Bream&aqs=chrome.0.0l6.1316j0j7&sourceid=chrome&ie=UTF-8" target="_blank">Black Bream</a>
                    @*<div class="meta">
                        <span class="date">Created in Sep 2014</span>
                    </div>*@
                    <p>Acanthopagrus butcheri, the black bream but also commonly known as the southern black bream, southern bream and blue-nosed bream, is a species of marine and freshwater fish of the porgy family, Sparidae.</p>
                </div>
            </div>

            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui primary button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src=@Url.Content("~/Content/Images/fish2.jpg")>
                </div>
                <div class="content">
                    <a class="header" href="https://www.google.com/search?q=brown+trout&oq=Brown+trout&aqs=chrome.0.0l6.962j0j9&sourceid=chrome&ie=UTF-8" target="_blank">Brown trout</a>
                    @*<div class="meta">
                        <span class="date">Created in Aug 2014</span>
                    </div>*@
                    <p>The brown trout is a European species of salmonid fish that has been widely introduced into suitable environments globally.</p>
                </div>
            </div>

            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui primary button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src=@Url.Content("~/Content/Images/fish3.jpg")>
                </div>
                <div class="content">
                    <a class="header" href="https://www.google.com/search?q=Atlantic+Salmo&oq=Atlantic+Salmo&aqs=chrome..69i57j0l5.1010j0j9&sourceid=chrome&ie=UTF-8" target="_blank">Atlantic Salmo</a>
                    @*<div class="meta">
                        <span class="date">Created in Aug 2014</span>
                    </div>*@
                    <p>The Atlantic salmon is a species of ray-finned fish in the family Salmonidae. It is found in the northern Atlantic Ocean, in rivers that flow into the north Atlantic and, due to human introduction, in the north Pacific Ocean.</p>
                </div>
            </div>

            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui primary button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src=@Url.Content("~/Content/Images/fish4.jpg")>
                </div>
                <div class="content">
                    <a class="header" href="https://www.google.com/search?q=australian+grayling&oq=Australian+grayling&aqs=chrome.0.0l6.1164j0j9&sourceid=chrome&ie=UTF-8" target="_blank">Australian grayling</a>
                    @*<div class="meta">
                        <span class="date">Created in Aug 2014</span>
                    </div>*@
                    <p>The Australian grayling is a primarily freshwater fish found in coastal rivers in south-eastern mainland Australia and Tasmania. In past decades it has also been known as the “cucumber mullet” or “cucumber herring, ” for its cucumber-like odor.</p>
                </div>
            </div>

            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui primary button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src=@Url.Content("~/Content/Images/fish5.jpg")>
                </div>
                <div class="content">
                    <a class="header" href="https://www.google.com/search?q=australian+bass&oq=Australian+Bass&aqs=chrome.0.0l6.770j0j9&sourceid=chrome&ie=UTF-8" target="_blank">Australian Bass</a>
                    @*<div class="meta">
                        <span class="date">Created in Aug 2014</span>
                    </div>*@
                    <p>The Australian bass is a small to medium-sized, primarily freshwater species of fish found in coastal rivers and streams along the east coast of Australia. It is a member of the family Percichthyidae and the genus Macquaria.</p>
                </div>
            </div>
        </div>
    </div>
</fieldset>
