
@{
    ViewBag.Title = "Hiking";
    Layout = "~/Views/Shared/_Layout_Semantic.cshtml";
}

<h2>Hiking</h2>

<fieldset style="padding-bottom:4%;padding-bottom:4%">
    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h2>The five most popular hiking places.</h2>
                    @*<p>You can also click to see more information.</p>*@
                </div>
            </div>
        </div>
    </div>

    <div class="ui grid container" style="padding-top:3%">
        <div class="ui special cards">
            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui inverted button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src=@Url.Content("~/Content/Images/hiking1.jpg")>
                </div>
                <div class="content">
                    <a class="header" href="https://maps.google.com/?q=Mornington Peninsula National Park" target="_blank">Mornington Peninsula National Park</a>
                    @*<div class="meta">
                            <span class="date">Created in Sep 2014</span>
                        </div>*@
                    <p>The Mornington Peninsula National Park is a national park located in the Greater Melbourne region of Victoria, Australia. The 2,686-hectare national park is situated approximately 90 kilometres south of Melbourne on the Mornington Peninsula.</p>
                </div>
            </div>

            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui primary button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src=@Url.Content("~/Content/Images/hiking2.jpg")>
                </div>
                <div class="content" >
                    <a class="header" href="https://maps.google.com/?q=You Yangs Regional Park" target="_blank">You Yangs Regional Park</a>
                    @*<div class="meta">
                            <span class="date">Created in Aug 2014</span>
                        </div>*@
                    <p>Fantastic walking, picnicking and wildlife viewing opportunities abound within the park, catering for all ages and abilities. There are both challenging and family-friendly mountain biking and horse riding trails. A permanent orienteering course has also been established, as well as a 12km scenic drive through the park.</p>
                </div>
            </div>

            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui primary button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src=@Url.Content("~/Content/Images/hiking3.jpg")>
                </div>
                <div class="content">
                    <a class="header" href="https://maps.google.com/?q=Dandenong Ranges National Park" target="_blank">Dandenong Ranges National Park</a>
                    @*<div class="meta">
                            <span class="date">Created in Aug 2014</span>
                        </div>*@
                    <p>
                        Protecting the tall forests of the Dandenongs, this park is well known for its spectacular Mountain Ash trees and lush fern gullies, and is ideal for relaxing picnics and tranquil forest walks. The cool mountain elevation affords spectacular panoramic views. There is abundant native birdlife, including crimson rosellas, kookaburras and the superb lyrebird.
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui primary button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src=@Url.Content("~/Content/Images/hiking4.jpg")>
                </div>
                <div class="content">
                    <a class="header" href="https://maps.google.com/?q=Werribee Gorge" target="_blank">Werribee Gorge</a>
                    @*<div class="meta">
                            <span class="date">Created in Aug 2014</span>
                        </div>*@
                    <p>There are a variety of walks in the park. A popular walk follows the Werribee River from Meikles Point picnic area, offering impressive view of both the river and the cliff faces of the gorge. It leads to popular swimming holes, historic sites and other park features.</p>
                </div>
            </div>

            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui inverted dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui primary button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src=@Url.Content("~/Content/Images/hiking5.jpg")>
                </div>
                <div class="content">
                    <a class="header" href="https://maps.google.com/?q=Cathedral Range State Park" target="_blank">Cathedral Range State Park</a>
                    @*<div class="meta">
                            <span class="date">Created in Aug 2014</span>
                        </div>*@
                    <p>The Cathedral Range is a spectacular seven kilometre ridge of sharply upturned sedimentary rock.A variety of walking tracks ranging in difficulty from easy to challenging offer the opportunity to explore the park’s main features and climb the peaks to enjoy views of the forests and farmland in the valley below.Rock climbing, fishing and camping are other popular activities that can be enjoyed in this park.
                    </p>
                </div>
            </div>
        </div>
    </div>
</fieldset>
